body {
    margin: 0;
    padding: 0;
    background-image: url("./Images/340050.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
.icon{
    color: white;
    margin: 5px;
    size: 200px;
}

.box{
  border: none;
  color: white;
  background-color: orange;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}